<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ToDoLib.ItemList" 
               behaviorConfiguration="ItemBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080/"/>
          </baseAddresses>
        </host>
        <endpoint address="/Item" 
                  binding="webHttpBinding" 
                  contract="ToDoLib.IItemList"/>
        
       <endpoint address="mex"
                  binding="webHttpBinding"
                  contract="IMetadataExchange" /> 
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name ="ItemBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8080/Item" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
<!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration> -->
