<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="ToDoLib.ItemList"
               behaviorConfiguration="ItemBehavior">
        <endpoint address="http://localhost:8000/Item"
                  binding="webHttpBinding"
                  contract="ToDoLib.IItemList"
                  behaviorConfiguration="MyBehavior"/>

      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name ="ItemBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8000/Item" />
          <serviceDebug includeExceptionDetailInFaults="true"  httpHelpPageUrl="http:/localhost:8000/debug" httpHelpPageEnabled="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="MyBehavior">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>
<!--<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration> -->
