<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint    address="http://localhost:8080/Item"
                   contract="ItemListProxy.IItemList"
                   binding="webHttpBinding"
                   behaviorConfiguration="CliItemBehavior"
                />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CliItemBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
